body {
    margin: 0;
    
}

main {
    display: flex;
}

h1 {
    background-color: royalblue;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#city-input {
    display: flex;
    flex-direction: column;
    width: 33%;
    
    height: 100vh;
    
   
}

h2 {
    text-align: center;
}

#city-search {
    display: flex ;
    flex-direction: column;
    

}

#search-btn, #search-box {
    margin: 8px;
}


#weather {
    display: flex;
    width: 100%;
    
    
}


#current {
    margin: 20px 0;
    width: 50%;
    height: 300px;
    border: 3px solid black;
    
}

#current h2 {
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
}

#current li {
    list-style: none;
    font-size: 20px;
    margin: 5px 0;

}

#five-day {
    display: flex;
    justify-content: space-evenly;
    
    
    
}

.card {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 10px;
    background-color: royalblue;
    /* padding: 10px; */
    margin: 5px;
    
    

}

.card-list {
    
    align-items: flex-start;
}

.card-li {
    margin-top: 5px;
    font-size: 18px;
    list-style: none;
    text-align: left;
    color: white;
}

.five-day {
    display: block;
}