body {
    margin: 0;
    
}

main {
    display: flex;
}

h1 {
    background-color: royalblue;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#city-input {
    display: flex;
    flex-direction: column;
    width: 33%;
    border: 3px solid black;
    height: 100vh;
    
   
}

h2 {
    text-align: center;
}

#city-search {
    display: flex ;
    flex-direction: column;
    

}

#search-btn, #search-box {
    margin: 8px;
}

#current {
    width: 67%;
}

#weather {
    display: flex;
    width: 67%;
    
}

#current {
    margin: 20px;
    width: 100%;
}